/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
cireporting-2
storage/

public/uploads/
public/js/report.js
img/wrong.png
img/widgets/shape.png
img/widgets/37.png
img/widgets/36.png
img/widgets/35.png
img/widgets/34.png
img/widgets/33.png
img/widgets/31.png
img/widgets/30.png
img/widgets/29.png
img/widgets/28.png
img/widgets/27.png
img/widgets/26.png
img/widgets/25.png
img/widgets/24.png
img/widgets/23.png
img/widgets/22.png
img/widgets/21.png
img/widgets/20.png
img/widgets/19.png
img/widgets/18.png
img/widgets/17.png
img/widgets/16.png
img/widgets/15.png
img/widgets/14.png
img/widgets/13.png
img/widgets/12.png
img/widgets/11.png
img/widgets/10.png
img/widgets/09.png
img/widgets/08.png
img/widgets/07.png
img/widgets/06.png
img/widgets/05.png
img/widgets/04.png
img/widgets/03.png
img/widgets/02.png
img/widgets/01.png
img/widgets/004.png
img/widgets/003.png
img/widgets/002.png
img/widgets/001.png
img/visa.png
img/users/user-lg-1.png
img/users/user-9.png
img/users/user-8.png
img/users/user-7.png
img/users/user-6.png
img/users/user-5.png
img/users/user-4.png
img/users/user-3.png
img/users/user-20.png
img/users/user-2.png
img/users/user-19.png
img/users/user-18.png
img/users/user-17.png
img/users/user-16.png
img/users/user-15.png
img/users/user-14.png
img/users/user-13.png
img/users/user-12.png
img/users/user-11.png
img/users/user-10.png
img/users/user-1.png
img/users/user-1.jpg
img/users/user-1-lg.png
img/user-card-bg.png
img/trial-period-expired.png
img/timeline/user.png
img/tasks/empty.png
img/sweet-alert-warning.png
img/sweet-alert-success.png
img/sweet-alert-info.png
img/sweet-alert-error.png
img/social-profile/9.png
img/social-profile/8.png
img/social-profile/7.png
img/social-profile/6.png
img/social-profile/5.png
img/social-profile/4.png
img/social-profile/3.png
img/social-profile/2.png
img/social-profile/1.png
img/slidenav/41.png
img/slidenav/40.png
img/slidenav/39.png
img/slidenav/38.png
img/slidenav/37.png
img/slidenav/36.png
img/slidenav/35.png
img/slidenav/34.png
img/slidenav/33.png
img/slidenav/32.png
img/slidenav/31.png
img/slidenav/30.png
img/signup/03.png
img/signup/02.png
img/signup/01.png
img/sidebar/2.png
img/sidebar/1.png
img/robot.png
img/pricing-month-bg.png
img/price/pe-princing-desktop.png
img/preview/date-range.png
img/preview/date-range-custom.png
img/payment-dashboard/4.png
img/payment-dashboard/3.png
img/payment-dashboard/2.png
img/payment-dashboard/1.png
img/notifications/05.png
img/notifications/04.png
img/notifications/03.png
img/notifications/02.png
img/notifications/01.png
img/modals/13.png
img/modals/12.png
img/modals/11.png
img/modals/10.png
img/modals/09.png
img/modals/08.png
img/modals/06.png
img/modals/05.png
img/modals/04.png
img/modals/03.png
img/modals/02.png
img/modals/01.png
img/modal/6.svg
img/modal/6.png
img/modal/5.svg
img/modal/5.png
img/modal/4.svg
img/modal/4.png
img/modal/3.svg
img/modal/3.png
img/modal/2.svg
img/modal/2.png
img/modal/1.svg
img/modal/1.png
img/messenger/attachment-6.png
img/messenger/attachment-5.png
img/messenger/attachment-4.png
img/messenger/attachment-3.png
img/messenger/attachment-2.png
img/messenger/attachment-1.png
img/messenger/4.png
img/messenger/3.png
img/messenger/2.png
img/messenger/1.png
img/medical-dashboard/male.png
img/medical-dashboard/female.png
img/medical-dashboard/clock.png
img/mastercard.png
img/mail/1.png
img/logo/invoice-logo.png
img/logo.png
img/logo-wh.png
img/logo-wh-sm.png
img/logo-sm.png
img/logo-black-lg.png
img/loaders/three-dots.svg
img/listings/travel/avatar-3.png
img/listings/travel/avatar-2.png
img/listings/travel/avatar-1.png
img/listings/travel/9.png
img/listings/travel/8.png
img/listings/travel/7.png
img/listings/travel/6.png
img/listings/travel/5.png
img/listings/travel/4.png
img/listings/travel/3.png
img/listings/travel/2.png
img/listings/travel/12.png
img/listings/travel/11.png
img/listings/travel/10.png
img/listings/travel/1.png
img/invoices.png
img/help-center/visa.png
img/help-center/mastercard.png
img/help-center/bg.png
img/help-center/american-express.png
img/flags/de.png
img/file-upload/2.png
img/file-upload/1.png
img/file-manager/word.png
img/file-manager/video.png
img/file-manager/txt.png
img/file-manager/preview.png
img/file-manager/pdf.png
img/file-manager/folder.png
img/file-manager/excel.png
img/file-manager/09.png
img/file-manager/08.png
img/file-manager/07.png
img/file-manager/06.png
img/file-manager/05.png
img/file-manager/04.png
img/file-manager/03.png
img/file-manager/02.png
img/file-manager/01.png
img/favicon.png
img/empty-notifications.png
img/email-templates/warning-notification.png
img/email-templates/steps.png
img/email-templates/reset-password.png
img/email-templates/opinion.png
img/email-templates/notification.png
img/email-templates/invite.png
img/email-templates/discount-code.png
img/email-templates/confirm-email.png
img/email-templates/confirm-email-a.png
img/email-templates/activate-account.png
img/email-templates/accept-invitation.png
img/documents/5.png
img/documents/4.png
img/documents/3.png
img/documents/2.png
img/documents/1.png
img/dataset/05.png
img/dataset/04.png
img/dataset/03.png
img/dataset/02.png
img/dataset/01.png
img/company/3.png
img/company/2.png
img/company/1.png
img/avatars/placeholder.png
img/activity/image.png
img/access-denied.png
img/404/02.png
img/404/01.png
img/404-b.png
img/404-a.png
app/Http/Controllers/HomeControlleraddedstatscode.php
resources/views/email/user_account_info.blade.html
resources/views/email/product_recurring_export.blade.html
